<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.withstudy.comment.dao.CommentDAO">
 	<select id="selectcommentListByStudyId" resultType="com.withstudy.comment.model.Comment" parameterType="integer">
 		SELECT
 			`id`
			, `userId`
			, `studyId`
			, `content`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`comment`
 		WHERE
 			`studyId` = #{studyId}
 	</select>
 	
 	<select id="selectcommentListByUserId" resultType="com.withstudy.comment.model.Comment">
 		SELECT
 			`id`
			, `userId`
			, `studyId`
			, `content`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`comment`
 		WHERE
 			`userId` = #{userId}
 	</select>
 	<insert id="insertComment" parameterType="map">
 		INSERT INTO `comment`
 		(
	 		`userId`
			, `studyId`
			, `content`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{studyId}
			, #{content}
			, NOW()
			, NOW()
		)
 	</insert>
 </mapper>